<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeepLAuthKey</key>
	<string>c68863cf-792c-2c07-28da-76137d0098c9:fx</string>
	<key>ClientKey</key>
	<string>fccb19cca082a407e5f7447423e98cde89c3ae57507159965df000824d032ff4</string>
	<key>ApplicationKey</key>
	<string>d9e3ce00c5c7e2b092299972b5aba01fcf892072f441aeedbdee467b49441baf</string>
</dict>
</plist>
